.bookings-page h1 {
	margin-top: 90px;
	margin-left: 35rem;
	color: #2b2ba7;
}

.bookings-page p {
	margin-left: 40rem;
	color: #2b2ba7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
