body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #c4c4c4;
}

.error-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.error-page h2 {
  margin-top: 8rem;
  color: #25ce25;
  animation-name: justice;
  animation-duration: 8s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  font-family: "Courier New", Courier, monospace;
  font-size: 55px;
}
.error-page h3 {
  font-family: cursive;
  font-size: 25px;
  color: #292727;
}
.error-page p {
  font-size: 20px;
}
.error-page p a {
  text-decoration: underline;
  font-weight: 800;
  color: #2b2ba1;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .error-page h2 {
    font-size: 100px;
  }
  .error-page h3 {
    font-style: italic;
    height: 40px;
    font-size: 40px;
  }
  .error-page p {
    font-size: 25px;
  }
  .error-page p a {
    font-size: 20px;
  }
}
@keyframes justice {
  0% {
    color: #f00909;
  }
  25% {
    color: #06068d;
  }
  50% {
    color: #146161;
  }
  100% {
    color: #520e0e;
  }
}
