.Nav {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #2b2ba7;
	font-size: large;
	color: white;
	height: 3rem;
	width: 100%;

	padding: 1rem 0;
	align-items: center;
}
.Nav h1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 500;
	font-style: italic;
	margin-left: 10px;
	font-weight: 700;
	max-width: 40px;
	max-height: 100%;
}
.Nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 65rem;
	font-size: medium;
	font-family: sans-serif;
	padding-right: 0;
	list-style: none;
}

.Nav ul a {
	text-decoration: none;
	font-size: large;
	color: #ffffff;
	font-weight: 750;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	align-items: center;
	padding: 0.25rem 0.5rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
	height: 10px;
	background: transparent;
}

.Nav ul a:hover,
.Nav ul a:active,
.Nav ul a.active {
	align-items: center;
	color: #2b2ba7;
	background-color: white;
	padding: 0.35rem 0.7rem;
	margin: 0.5rem;
}

@media (max-width: 1061px) {
	.Nav {
		flex-wrap: wrap;
		height: 5rem;
	}
	.Nav ul {
		margin-left: 25rem;
	}
}
